<h1 class="text-white text-4xl">登録場所一覧</h1>
<h1 class="text-white text-xl">地図のピンにカーソルを合わせると、場所名が出ます📍</h1><br>
<% if current_user %>
  <%= link_to "木を植えに行く",map_trees_path, data: { turbo: false }, class: "w-200 bg-green-400 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-md shadow-md transition" %>
<% else %>
  <%= link_to "木を見に行く",map_trees_path, data: { turbo: false }, class: "w-200 bg-green-400 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-md shadow-md transition" %><br>
<% end %>
<header>
  <%= link_to "TOP",root_path, data: { turbo: false },class: "w-200 bg-lemon hover:bg-dry-khaki text-gray font-bold py-2 px-4 rounded-md shadow-md transition" %>
  <%= link_to '新しい場所を追加', new_fav_place_path, data: { turbo: false }, class: "bg-light-pink hover:bg-pink-red text-gray font-bold py-2 px-4 rounded-md shadow-md transition inline-block" %>
  <%= render 'place' %>
</header>
<body style="background-color: green;">
  <div class="container mx-auto px-4">
    <h1 class="text-3xl font-bold mb-8 text-white text-center">🌳　🌳　🌳</h1>

    <% if @fav_places.empty? %>
      <p class="text-white text-center text-lg">登録場所はまだありません</p>
    <% else %>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <% @fav_places.each do |fav_place| %>
          <div class="bg-white text-green-800 rounded-lg shadow-md p-6">
            <p><strong>場所ID:</strong> <%= fav_place.id %></p>
            <p>
              <strong>場所名:</strong>
              <%= link_to fav_place.fav_name, fav_place_path(fav_place), class: "text-green-600 underline hover:text-green-800" %>
            </p>
            <p><strong>保存ユーザー:</strong> <%= fav_place.user.user_name %></p>
            <p><strong>保存日時:</strong> <%= l(fav_place.created_at, format: :long) %></p>
            <p><strong>住所</strong> <%= fav_place.address %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</body>
