<header>
<h1 class="text-white text-4xl text-center mb-5">
  登録場所一覧 <i class="fa-solid fa-map-pin text-pink-red"></i><br>
  
</h1>
<%= render 'link' %>
</header>
<body>
  <div class="container mx-auto px-4">
    <% if user_signed_in? %>
      <h1 class="text-2xl mb-8 text-white text-center"><i class="fa-solid fa-map-pin text-pink-red"></i>場所を登録したら、木を植えに行こう<i class="fa-solid fa-map-pin text-pink-red"></i></h1>
    <% end %>

    <% if @fav_places.empty? %>
      <p class="text-white text-center text-lg">登録場所はまだありません</p>
    <% else %>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <% @fav_places.each do |fav_place| %>
          <div class="bg-white text-green-800 rounded-lg shadow-md p-6">
            <p>場所ID: <%= fav_place.id %></p>
            <p>場所名:<%= link_to fav_place.fav_name, fav_place_path(fav_place), class: "text-green-600 underline hover:text-green-800" %></p>
            <p>
              ユーザー:
              <span class="<%= "text-pink-red font-bold" if fav_place.user == current_user %>">
                <%= fav_place.user.user_name %>
              </span>
            </p>
            <p>登録日時: <%= l(fav_place.created_at, format: :long) %></p>
            <p>住所 <%= fav_place.address %></p><br>
            <% if fav_place.user == current_user %>
              <%= link_to '削除', fav_place_path(fav_place), data: { turbo_method: :delete, turbo_confirm: "この場所に既に植林している場合、木も削除されます。本当に削除しますか？"}, class: "bg-red-500 hover:bg-light-salmon font-bold py-2 px-4 rounded shadow" %>
            <% end %>
            <% if fav_place.tree.present? %>
              <p class="text-right font-bold">植林済み: <%= fav_place.tree.tree_name %><i class="fa-solid fa-tree text-moss-green"></i></p>
            <% else %>
                <p class="text-light-salmon text-right font-bold">まだ木がありません</p>
                <div class="flex justify-end">
                <%= link_to "⓶木を植えに行く", map_trees_path, data: { turbo: false }, class: "bg-green-400 hover:bg-green-600 text-white font-bold py-1 px-3 rounded-md shadow-md transition" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</body>
