<header>
<h1 class="text-white text-xl text-center mb-5">
  <i class="fa-solid fa-map-pin text-pink-red"></i>場所名を入力したら、必ず検索を押してから登録してください <br>
</h1>
</header>

<div class="flex flex-col lg:flex-row gap-6">
  <div class="w-full lg:w-3/4">
    <% if user_signed_in? %>
      <%= render 'form' %>
      <%= render 'place' %>
    <% else %>
      <h1 class= "text-3xl text-white"> 場所を登録するには、ログインが必要です<i class="fa-solid fa-tree text-moss-green"></i></h1>
    <% end %>
  </div>
  <div class="w-full lg:w-1/4">
    <% if user_signed_in? %>
      <%= link_to "⓶木を植えに行く",map_trees_path, data: { turbo: false }, class: "w-200 bg-green-400 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-md shadow-md transition" %>
    <% else %>
      <%= link_to "木を見に行く",map_trees_path, data: { turbo: false }, class: "w-200 bg-green-400 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-md shadow-md transition" %>
    <% end %>
    <%= link_to '場所一覧', fav_places_path, data: { turbo: false }, class: "bg-light-salmon hover:bg-pink-red text-white font-bold py-2 px-4 rounded-md shadow-md transition inline-block" %>
    <div class="rounded-lg shadow-lg p-4 bg-mid-blue">
        <h2 class="text-lg font-bold text-white mb-4">参考<i class="fa-solid fa-tree text-moss-green"></i>登録済みの場所一覧<i class="fa-solid fa-tree text-moss-green"></i></h2>
        <ul class="space-y-3">
          <% @fav_places.each do |fav_place| %>
            <li class="border-b pb-2">
              <p class="text-green-600 font-semibold"><%= fav_place.fav_name %></p>
              <p class="text-white text-sm"><%= fav_place.address %></p>
            </li>
          <% end %>
        </ul>
      </div>
  </div>
</div>