<header>
<%= link_to "🔙場所一覧に戻る", fav_places_path, data: { turbo: false }, class: "bg-light-salmon hover:bg-pink-red text-white font-bold py-2 px-4 rounded-md shadow-md transition inline-block" %>
<%= link_to @fav_place.fav_name + "に植林する🌳", map_trees_path, data: { turbo: false }, class: "bg-green-400 hover:bg-green-600 font-bold py-2 px-4 rounded-md shadow-md transition inline-block" %>
</header>

<body style="background-color: white;">
    <% content_for(:fav_place, @fav_place.fav_name) %> <!-- 個別タイトル表示 -->

    <div class="container pt-5">
      <div class="flex justify-center mb-3">
        <div class="w-full max-w-2xl">
          <div class="bg-white rounded-lg shadow-md">
            <div class="p-6">
              <div class="flex justify-between items-center mb-4">
                <h3 class="text-2xl font-semibold text-green-600"><%= @fav_place.fav_name %></h3>

                  <p class="text-sm text-gray-700">
                    <strong>場所ID:</strong> <%= @fav_place.id %><br>
                    <strong>登録日時:</strong> <%= l(@fav_place.created_at, format: :long) %><br>
                    <strong>ユーザー:</strong> <%= @fav_place.user.user_name %>
                    <strong>住所:</strong> <%= @fav_place.address %>
                  </p>
                  <div class="flex justify-end">
                    <%= link_to '削除', fav_place_path(@fav_place), data: { turbo_method: :delete, turbo_confirm: "この場所に既に植林している場合、木も削除されます🌳本当に削除しますか？"}, class: "bg-red-500 hover:bg-light-salmon font-bold py-2 px-4 rounded shadow" %>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

<!-- Google Maps処理 -->
<div id="map" style="height: 400px; width: 100%; margin-top: 2rem;"></div>

<script>
  const lat = <%= @fav_place.latitude.to_f %>;
  const lng = <%= @fav_place.longitude.to_f %>;

  function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: lat, lng: lng },
      zoom: 12,
      mapTypeId: "hybrid"
    });

    const marker = new google.maps.Marker({
      position: { lat: lat, lng: lng },
      map: map
    });

    const geocoder = new google.maps.Geocoder();
    const latLng = new google.maps.LatLng(lat, lng);
  }
</script>

