<header class ="relative">
  <h1 class="text-white text-2xl">場所を追加➡植林しよう。ズームしたり色々な角度から眺めてみてね。<br>現在のすべての🌳<%= @trees_count %>本</h1><br>
  <%= link_to "TOP",root_path, data: { turbo: false },class: "w-200 bg-lemon hover:bg-green-600 text-gray font-bold py-2 px-4 rounded-md shadow-md transition" %>
  <%= link_to '新しい場所を追加', new_fav_place_path, data: { turbo: false }, class: "bg-light-pink hover:bg-green-600 text-gray font-bold py-2 px-4 rounded-md shadow-md transition inline-block" %>
  <%= link_to '場所一覧', fav_places_path, data: { turbo: false }, class: "bg-light-salmon hover:bg-green-600 text-gray font-bold py-2 px-4 rounded-md shadow-md transition inline-block" %>
</header>
<div id="map-container">
  <div id="map"></div>
</div>

<%= stylesheet_link_tag 'map' %>

<% json_data = @trees.map { |tree|
  {
    latitude: tree[:latitude],
    longitude: tree[:longitude],
    fav_name: tree[:fav_name]
  }
}.select { |p| p[:latitude] && p[:longitude] }.to_json %>

<div id="fav-places-data" data-places="<%= json_data %>"></div>

<%= render 'tree' %>

  <br>
  <% if user_signed_in? %>
      <% if current_user.fav_places_without_trees.exists? %>
        <p class="text-white">まだ木が植えられていない場所があります🌳</p>
        <!-- 選択肢のドロップダウン -->
        <div class="mb-4">
          <label for="fav_place_select" class="text-white">場所を選んでください：</label>
          <select id="fav_place_select" class="w-40 px-4 py-2 rounded-md bg-gray text-white">
            <option disabled selected>-- 場所を選ぶ --</option>
            <% current_user.fav_places_without_trees.each do |fav_place| %>
              <option value="<%= fav_place.id %>" data-x="<%= fav_place.fav_x %>" data-z="<%= fav_place.fav_z %>">
                <%= fav_place.fav_name %>
              </option>
            <% end %>
          </select>
          <button id="addFavTreeButton" class="bg-green-400 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-md shadow-md transition">この場所に木を植える</button>
        </div>
      <% else %>
        <% if current_user.trees.count < 10 %>
          <div class="btn btn-gray text-coral text-xl" disabled>10本まで植林できます🌳</div>
        <% else %>
          <div class="btn btn-gray text-pink-red text-xl" disabled>すでに10本植林しました!</div>
        <% end %>
      <% end %>
      <% if @trees_id_name.empty? %>
        <h1 class="text-white text-2xl">まだ<%= current_user.user_name %>さんは🌳を植えていません</h1>
      <% else %>
        <h1 class="text-white text-xl"><%= current_user.user_name %>さんの🌳<%= @tree_count %>本：<%= @trees_id_name %></h1>
      <% end %>
  <% else %>
    <h1 class="text-white text-xl">ログインして植林しよう🌳</h1>
  <% end %>
</header>

<!-- JSON データ -->
<div id="treeData" style="display: none;">
  <%= raw @trees.to_json %>
</div>

<%= javascript_include_tag "camera.js" %>
<%= javascript_include_tag "trees.js" %>
