<!DOCTYPE html>
<html>
  <header>
    <div class="flex">
      <%= link_to "TOP",root_path, data: { turbo: false },class: "w-200 bg-lemon hover:bg-dry-khaki text-gray font-bold py-1 px-4 rounded-md shadow-md transition" %>
      <%= link_to '概要/操作方法', intro_trees_path, data: { turbo: false }, class: "bg-gray hover:bg-light-blue text-lemon font-bold py-1 px-4 rounded-md shadow-md transition inline-block" %>
      <% if user_signed_in? %>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path,data: { turbo: false }, method: :delete, class: "text-lemon" %>
        </li>
      <% else %>
        <li>
          <%= link_to "新規登録", new_user_registration_path,data: { turbo: false }, class: "text-lemon" %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path,data: { turbo: false }, class: "text-lemon" %>
        </li>
      <% end %>
    </div>
  </header>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MSN3V1M9PD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MSN3V1M9PD');
    </script>
    <title><%= content_for(:title) || "map_trees" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>


    <% flash.each do |key, message| %>
      <% text_color = key == "notice" ? "text-lemon" : "text-pink-red" %>
      <div class="flash <%= key %> <%= text_color %> font-semibold">
        <%= message %>
      </div>
    <% end %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@v0.151.3/build/three.module.js",
          "three/addons/": "https://unpkg.com/three@v0.151.3/examples/jsm/"
        }
      }
    </script>

      <!-- 本体 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>

    <!-- 補助ローダーやコントロール（非モジュール版） -->
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/DRACOLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/GLTFLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.11.4/dist/gsap.min.js"></script>

    <script src="https://kit.fontawesome.com/3e9d8d532b.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-midnight-blue">
      <%= yield %>
  </body>
</html>
